<!DOCTYPE html>
<html lang="en">
<head>
   {{>headlink}}
</head>
<body>
  {{>navbar}}
  
  <!-- main header -->
  <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                  <!-- left side div -->
                  <div class="col-md-6 col-12 main_header_left">
                    <figure>
                        <img src="images/error.jpg" alt="harsh" class="img-fluid" title="harsh's coding bootcamp">
                    </figure>
 
                  </div> 
                  <div class="col-md-6 col-12 main_header_left">
                      <p>Welcome to harsh's coding bootcamp.. </p>
                      <h1>I Am A <span> Mern Stack Developer</span> Youtuber And A Freelancer</h1>
                      <a href="/" target="_harsh"><button>Go back</button></a>
                  </div>
                  <!-- right side div -->
                  <div class="col-md-6 col-12 main_header_right">
                 
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- footer code -->
  <footer>
      <p> Created with 💖❤  by harsh</p>
      </footer>
    
</body>
</html>